<!DOCTYPE html>
<html>
<head>
<!-- Include meta tag to ensure proper rendering and touch zooming -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>hubanero Remote Control</title>
<style type="text/css">
  #remote-header {
        width: 100%;
        height: auto;
    }
  #remote-header img{
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    h3, .text-center{
        text-align: center;
    }
    .maiuscolo {
        text-transform: uppercase;
    }
    .whatsapp-image {
        width: 36px;
        padding-right: 5px;
        display: block;
        margin: 0 auto;
    }
    .wa-class{
        position: relative;
        width: 200px;
        margin: 0 auto;
        margin-top: 25px;
        text-align: center;
    }


</style>
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>