<div data-role="header" data-position="fixed">
        <div class="center-wrapper">
            <p style="text-align:center;">
                <img width="160" height="45" alt="Header" 
                 src="../../common/img/remote3.png" />
            </p>
        </div>
    </div>
    <div id="remote-header"> <!--img src="" /--> </div>
    <h3 class="maiuscolo"> 
        usa i tasti 
        <br/>del telecomando 
        <br/>per interagire
        <br/>con il display
    </h3>