<div id="home" data-role="page">
    <div data-role="header" data-position="fixed">
        <div class="center-wrapper">
            <p style="text-align:center;">
                <img width="160" height="45" alt="Header" 
                 src="http://www.hubanero.it/ugentocasa.jpg" />
            </p>

        </div>
<!--                <p class="text-center">Ugento Casa</p>-->
        <!--<p class="text-center">Immobili e Futuro</p>-->
    </div>
    <p></p>

    <div id="remote-header">
        <!--img src="" /-->
    </div>
    <p></p>

    <h3 class="maiuscolo"> 
        interagisci 
        <br/>con il 
        <br/> maxi-schermo
    </h3>

    <div role="main" class="ui-content">
        <div class="ui-grid-b" style="height:95px">
            <div class="ui-icon-arrow-l ui-block-a left" style="height:100%">
                <a class="ui-btn">casa -</a>
            </div>
            <div class="ui-btn ui-icon-search  ui-block-b zoom" style="height:100%">
                <a class="ui-btn">zoom</a>
            </div>
            <div class="ui-icon-arrow-r ui-block-c right" style="height:100%">
                <a class="ui-btn">casa +</a>
            </div>
        </div>
        <a id="tab3" class="ui-icon-delete ui-btn"> aggiorna </a>
    </div>

    <select name="select-native-1" id="selectlist" class="selectlist">
        <option value="1#" class="class-option-1"> Seleziona città</option>
    </select>

    <h4 class="maiuscolo text-center"> scopri le nostre proposte! </h4>

    <div data-role="footer" data-position="fixed">
        <h3>Spicy Technologies</h3>
    </div>
</div>