<span class="bar-contact">
<a href="https://api.whatsapp.com/send?phone=+393468428187&amp;text=Salve%2C%20vorrei%20richiedere%20la%20stampa%20della%20foto%20N%C2%B0%3A%20xx%2C%20xx%2C%20xx..." class="ui-link">
<img class="whatsapp-image" alt="24re ristorante leuca prenota via whatsapp" src="http://24releuca.it/capodileuca/whatsapp-logo-ristorante-24RE.png"> Prenota le tue foto con whatsapp
</a>
<br>
<!-- <a href="tel:+39 346 84 28 187">
<img class="whatsapp-image" alt="La casarana foto via whatsapp" 
src="http://24releuca.it/capodileuca/whatsapp-logo-ristorante-24RE.png"> 
Tel: +39 346 84 28 187 
</a>--> 
</span>