<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="hubanero - Spicy Technologies">
<meta name="author" content="hubanero Red Savina">
<title>hubanero - Spicy Technologies</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="http://www.di-vision.org/cdn/ugentocasa.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" 
    href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
</head>
<body class="full">
<script id="example-template" type="text/x-handlebars-template">
<div  id="news-hub">
    {{#sites}}
    <div data-id="{{@index}}" class="flex-row notizia blocco-news-{{@index}}">
        <div class="col-md-12 bg-primary {{#if @first}}mt-0 mr-1{{else}} {{/if}}">
            <h1 class="display-1">
                <span class="codice">{{codice}}</span> - {{titolo}} 
                <br /> <blink class="giada">{{price}} € </blink>
            </h1> 
            <h2 class="text-justify display-2">
                {{{descrizione}}}
            </h2>
            
            <!--h2 class="prezzo">
                {{price}} €
            </h2-->
            
            <p class="imageGroup">
                <img class="slide" src="{{foto_evidenza.[0]}}" alt="foto agenzia immobilaire ugento casa" data-pin-nopin="true" />
                <img class="slide" src="{{foto_evidenza.[1]}}" alt="foto agenzia immobilaire ugento casa" data-pin-nopin="true" />
                <img class="slide" src="{{foto_evidenza.[2]}}" alt="foto agenzia immobilaire ugento casa" data-pin-nopin="true" />
            </p>
            
            <ul class="ul-caratteristiche">
                {{#caratteristiche}}
                <li class="caratteristiche"> {{this}} </li>
                {{/caratteristiche}}
            </ul>
            
            <!-- code * -->
            
            <p class="bigImage">
                <img data-urlimg="{{foto_evidenza.[0]}}" class="darkBg show" src="{{foto_evidenza.[0]}}" />
                <img data-urlimg="{{foto_evidenza.[1]}}" class="darkBg collapse" src="{{foto_evidenza.[1]}}" />
                <img data-urlimg="{{foto_evidenza.[2]}}" class="darkBg collapse" src="{{foto_evidenza.[2]}}" />
            </p>
        </div>

    </div>
    {{/sites}}
</div>
<!--
*
div class="ul-pics">
    {{#foto}}
        <div class="allPics collapse" data-src="{{--------------this}}" 
            data-idenx="{{@---------index}}"> {{@-------index}} </div>
            {{/foto}}
        </div
-->
</script>
<!--START TEMPLATE TEST-->
<div>
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="navbar-header logobg bordered">
            <!--<h1 class="bg-primary titolo"> agenzia immobiliare </h1>-->
            <div id="logo" class="logobg bordered"></div>
        </div>
    </nav>
    
    <!-- Page Content -->
    <div class="container-fluid">
        <!-- ************** filled with HB **************-->
        <div class="content-placeholder"></div> 
    </div>
    
    <!--servizi offerti dall'agenzia immobiliare--> 
    <div  id="news-hub2" class="col-md-4 hidden">
        <div>
            <h2>
                INTERMEDIAZIONE IMMOBILIARE
            </h2>
            <p>
                L'agenzia si occuperà di procacciare potenziali acquirenti per
                l'immobile affidatoci in esclusiva dai proprietari venditori.
            </p>
        </div>
        
        <div>
            <h2>
                VALUTAZIONE GRATUITA
            </h2>
            <p>
                Un nostro agente farà un sopralluogo, dandovi una valutazione commerciale, 
                considerando tutte le caratteristiche del vostro immobile in relazione ai prezzi del mercato.
            </p>
        </div>
        
        <div>
            <h2>
                CONSULENZA IMMOBILIARE
            </h2>
            <p>
                L'agenzia si occuperà per voi di seguire tutte le fasi della 
                compravendita; prima, durante e dopo la conclusione dell'affare,
                anche per operazioni effettuate tra privati.
            </p>
        </div>
        
        
        <div>
            <h2>
                CONSULENZA CREDITIZIA
            </h2>
            <p>
                Grazie ad una fidata collaborazione con un nostro mediatore creditizio, 
                possiamo offrirvi consulenze gratuite per analisi finanziarie e per la 
                fattibilità di ottenere un mutuo per l'acquisto del vostro immobile.
            </p>
        </div>
        
        <div>
            <h2>
                INVESTIMENTI
            </h2>
            <p>
                Un nostro agente si preoccuperà di illustrarvi le varie possibilità 
                di investimento dei vostri capitali esponendovi acquisti strategici 
                che potrebbero darvi un'ottima rendita.
            </p>
        </div>
        
        <div>
            <h2>
                CONSULENZA PER LA PROGETTAZIONE
            </h2>
            <p>
                L'agenzia si avvale di tecnici qualificati quali; architetti, 
                ingegneri e geometri che vi offriranno una consulenza 
                tecnica per la realizzazione del vostro immobile.
            </p>
        </div>
        <div>
            <h2>
                CONSULENZA PER LA RISTRUTTURAZIONE
            </h2>
            <p>
                L'agenzia si avvale di tecnici qualificati quali; architetti, 
                ingegneri e geometri che vi offriranno una consulenza tecnica per la 
                ristrutturazione del vostro immobile oltre ad imprese e artigiani 
                locali per la realizzazione di qualsiasi esigenza (muratura, impiantistica, infissi e arredi).
            </p>
        </div>
    </div><!--end div news-hub2-->
</div>
<!--END TEMPLATE TEST-->
<span id="nextFoto" class="next"></span>
<span id="prevFoto" class="prev"></span>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>    
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"></script><script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var QueryString = function ()
    {
        /* This function is anonymous, is executed immediately and 
         the return value is assigned to QueryString!
         */
        var query_string = {};
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            // If first entry with this name
            if (typeof query_string[pair[0]] === "undefined") {
                query_string[pair[0]] = decodeURIComponent(pair[1]);
                // If second entry with this name
            } else if (typeof query_string[pair[0]] === "string") {
                var arr = [query_string[pair[0]], decodeURIComponent(pair[1])];
                query_string[pair[0]] = arr;
                // If third or later entry with this name
            } else {
                query_string[pair[0]].push(decodeURIComponent(pair[1]));
            }
        }
        return query_string;
    }();

    var userID = "<%= ID %>";

    _TIME_T0_REFRESH = 10*60*1000;
    var time = 12100;
    var cdr;
    var indirizzi = {
        ugento : 'http://www.ugentocasa.it/lista/index/vendita/1/1/json/',
        salve : 'http://www.ugentocasa.it/lista/index/vendita/1/2/json/',
        taurisano : 'http://www.ugentocasa.it/lista/index/vendita/1/3/json/',
        presicce : 'http://www.ugentocasa.it/lista/index/vendita/1/4/json/',
        casarano : 'http://www.ugentocasa.it/lista/index/affitto/1/5/json/',
        acquarica : 'http://www.ugentocasa.it/lista/index/vendita/1/6/json/',
        ruffano : 'http://www.ugentocasa.it/lista/index/vendita/1/7/json/',
        supersano : 'http://www.ugentocasa.it/lista/index/vendita/1/8/json/',
        racale : 'http://www.ugentocasa.it/lista/index/vendita/1/9/json/',
        morciano : 'http://www.ugentocasa.it/lista/index/vendita/1/10/json/',
        patu : 'http://www.ugentocasa.it/lista/index/vendita/1/11json/',
        taviano : 'http://www.ugentocasa.it/lista/index/vendita/1/12/json/',
        alliste : 'http://www.ugentocasa.it/lista/index/vendita/1/13/json/',
        gallipoli : 'http://www.ugentocasa.it/lista/index/vendita/1/14/json/',
        ruggiano : 'http://www.ugentocasa.it/lista/index/vendita/1/15/json/'
        
//        taurisano : 'http://www.ugentocasa.it/lista/index/vendita/1/3/json/',
    };
    
    var serviziSliderOn = false;
    
    var _timeServizi = 6100;
    var _timeout = 3000;
    var _speed = 3000;
    var startMySlide;
    
    function jsonCallback(data){
//        $.each(data.sites, function (key, val) {
//            console.log(data); get entire sites: <array>
//            if (val.titolo !== '') {
//                // avoid empty news
//            }
//        });
        return;
    };
    
    function getNews(urlJson)
    {
        $('<div></div>').attr('id','spinner')
    //                  .hide()
                        .appendTo('body');
        $.ajax({
            type: 'GET',
            url: urlJson,
            crossDomain: true,
            jsonp: false,
            cache: true,
            jsonpCallback: 'jsonCallback',
            dataType: 'jsonp',
            success: function (json) {
                if(json.sites.length !== 0){
                    console.log('get news success!');
                    that.returnData = json;
                    goCompile(that.returnData);
                }else{
                    $('<div></div>')
                        .attr('id','sorry')
                        .css('zIndex','100')
                        .appendTo('body')
                        .delay('2000')
                        .fadeOut("fast", function(){
                            this.remove();
                            location.reload();
                        });
                    console.log("Non ci sono immobili. Seleziona un'altra localita`");
                }
            },
            error: function (e) {
                console.log(e.message);
            },
            complete: function (jqXHR, textStatus ) {
                $("#spinner").remove();
                $('#news-hub2').removeClass('hidden');
                slideShow(true);
            }
        });
    };
    
    var theTemplateScript = $("#example-template").html();
    var theTemplate = Handlebars.compile(theTemplateScript);
    // limit an array to a maximum of elements (from the start)
    Handlebars.registerHelper('limit', function (arr, limit)
    {
    // remove this line if you don't want the lodash/underscore dependency
//  if (!_.isArray(arr)) { return []; }
        return arr.slice(0, limit);
    });
    
    Handlebars.registerHelper('eachProperty', function(context, options)
    {
        var ret = "";
        for(var prop in context)
        {
            ret = ret + options.fn({property:prop,value:context[prop]});
        }
        return ret;
    });
    
    function goCompile(returnData){
//            $.getJSON(returnedData, function (data){
        var theCompiledHtml = theTemplate(returnData);
        $('.content-placeholder').html(theCompiledHtml);
        startInnerFade();
        
        if(serviziSliderOn == false){
            startSliderServizi();
            serviziSliderOn = true;
        }
    }
    
    function slideShow(resetTimeout){
        if(resetTimeout){
            clearTimeout(startMySlide);
        }
        current = $('.bigImage:visible .show');
//        current = $('.bigImage:visible .show').not('.collapse');
//        current3 = $('.bigImage .show').not('.collapse');
//        current2 = $('.bigImage:visible');
        
//        if(current.length == 0){
        // handler errore scomparsa foto:
        if($('.bigImage img:visible').length == 0){
                console.log('drama2!');
                $('.bigImage:visible').find('img').eq(0).css("display", "block");
                $('.bigImage:visible').addClass('show');
                current = $('.bigImage:visible');
                current = current.parent().find('.darkBg').eq(0);
                
            // TODO delete this if:
            if(current.length == 0){
                console.log('current.length = 0'); // old test
                current = $('.bigImage:visible');
                current.find('img');
//                current = $('.bigImage:visible .show');
            }
            
//            current = $('.bigImage img:visible')
//            $('.bigImage:visible').find('img').eq(0).fadeIn();
        }
//        current.fadeIn().delay(speed).die();
        next = current.next().length ? current.next().fadeIn() : current.parent().children(':first').fadeIn();
        current.fadeOut().removeClass('show').removeClass('collapse');
        next.fadeIn('slow').addClass('show');
        startMySlide = setTimeout(slideShow, _timeout);
    }
    
    function startInnerFade() { // slider immobili
        $('#news-hub').innerFade({
//            animationtype: 'slide',
            animationtype: 'slideOver',
            speed: 'slow',
            timeout: time,
            type:'sequence',
            containerheight:'auto',
            prevLink: '.prev',
            nextLink: '.next'
// 	  runningclass: CSS-Class which the container getâs applied (Default: 'innerfade'),
// 	  children: optional children selector (Default: null)
        });
    }
    
    function startSliderServizi() {
        // slider servizi forniti dall'agenzia
        $('#news-hub2').innerFade({
//            animationtype: 'slide',
            animationtype: 'slideOver',
            speed: 'slow',
            timeout: time,
            type:'sequence',
            containerheight:'auto',
            prevLink: '.prev',
            nextLink: '.next'
        });
    }
    
//    function changeBackground(){
//        $('.full').css({
//            'background' : "url(http://www.di-vision.org/cdn/images/natale2.jpg)",
//        });
//    }
    function countDownReload() {
        cdr = setTimeout(
                function() {
                    location.reload();
                }, _TIME_T0_REFRESH);
    }
    
    function createDivBigImage() {
        _showImageTime = 5500;
//        get visible image
        bigImage = $('.bigImage img:visible');
        bigImage2 = $('.allPics:first-child');
//        create div with #imageBigSize
        if($('#imageBigSize').length){
            $('#imageBigSize').remove();
        }
        $('<div></div>')
        .attr('id','imageBigSize')
        .css({
            zIndex : 100,
            background : 'rgba(0,0,0,0.8) url("'+ bigImage.attr('src') +'") no-repeat center center',
            width : '100%', 
            height : '100%',
//            display : 'none'
            })
        .appendTo('body')
        .fadeIn('slow')
        .delay(_showImageTime).fadeOut('slow');
//        end div creation
    }
    
    (function (exports) {
//        var socket = io.connect(socketURI);
        var socket = io();
        socket.on('connection', function (data) {
            console.log('socket connection on');
        });
        
        socket.on(userID + '-left', function (data) {
            console.log(userID + ' left connect!');
            clearTimeout(cdr);
//                mostra feedback freccia a sx
            $('<div></div>')
                .attr('id','precedente')
                .css('zIndex','100')
                .appendTo('body')
                .delay('1000')
                .fadeOut("fast", function(){
                    this.remove()
                });
            $(".prev").trigger('click');
//                restart in case of inactivity
            countDownReload();
        });
        
        socket.on(userID + '-right', function (data) {
            console.log(userID + ' right connect!');
            clearTimeout(cdr);
//                mostra feedback freccia a dx
            $('<div></div>')
                .attr('id','successivo')
                .css('zIndex','100')
                .appendTo('body')
                .delay('1000')
                .fadeOut("fast", function(){
                    this.remove();
                });
            $(".next").trigger('click');
//                restart in case of inactivity
            countDownReload();
//            restartInnerFade();
        });
        
        socket.on(userID + '-refresh2', function (data) {
            console.log('refresh2');
            location.reload();
        });
        //zoom *****
        socket.on(userID + '-zoom', function (data) {
// fermo il conto alla rovescia del refresh pag
            clearTimeout(cdr);
            createDivBigImage();
            countDownReload();
        });
        socket.on(userID + '-find', function (data) {
            console.log(data.city);
            selectedCity = data.city;
            console.log(indirizzi[selectedCity]);
//            getNews(indirizzi.selectedCity);
            getNews(indirizzi[selectedCity]);
//            getNews('http://www.ugentocasa.it/lista/index/vendita/1/15/json/');
        });
        exports.socket = socket;
    })(window);

$(function(){
    /*
    *  6 => ACQUARICA DEL CAPO
       13 => LISTE
       5 => CASARANO
       14 => GALLIPOLI
       10 => MORCIANO DI LEUCA
       11 =>PATU'
       4 => PRESICCE
       9 => RACALE
       7 => RUFFANO
       15 => RUGGIANO
       2 => SALVE
       8 => SUPERSANO
       3 => TAURISANO
       12 => TAVIANO
       1 => UGENTO
     * 
     * 
     */
//    setTimeout(function (){
//        //getNews(indirizzi.taurisano);
//    }, _timeServizi );
//    urlJson = 'http://www.ugentocasa.it/lista/index/vendita/1/2/json/';
//    url2 = 'http://www.ugentocasa.it/lista/index/vendita/1/3/json/'; // taurisano
    returnData = '';
    that = this;
    returnData = getNews(indirizzi.ugento);
    setInterval(
        function(){
            imgNumber = Math.floor((Math.random() * 3) + 1);
        $('.full').css({
            "background-image" : "url(http://www.di-vision.org/cdn/images/natale"+imgNumber+".jpg)",
            "backgroud-repeat" : "no-repeat",
            "backgroud-position" : "center center",
            "backgroud-attachment" :  "fixed",
            "-moz-background-size" : "cover",
            "-o-background-size" : "cover",
            "background-size" : "cover",
            "margin" : "0 auto"
        });
    }, 2*60*1000 );

});
/* inner fade */
(function($) {
    var default_options = {
        'animationType':'fade',
//		'animationType':'fade',
        'animate': 	true,
        'first_slide': 	0,
        'easing':	'linear',
        'speed':	'normal',
        'type':		'sequence',
        'timeout':	2000,
        'startDelay': 	0,
        'loop': 	true,
        'containerHeight':'auto',
        'runningClass':	'innerFade',
        'children':	null,
        'cancelLink':	null,
        'pauseLink':	null,
        'prevLink':	null,
        'nextLink':	null,
        'indexContainer':null,
        'currentItemContainer': 	null,
        'totalItemsContainer': 		null,
        'callback_index_update': 	null
    };
    $(function() {
        window.isActive = true;
        $(window).focus(function() { this.isActive = true; });
        $(window).blur(function() { this.isActive = false; });
    });
    $.fn.innerFade = function(options) {
        return this.each(function() {
            $fade_object = new Object();
            // Assign the container
            $fade_object.container = this;
            // Combine default and set settings or use default
            // Pay attention kids, there's an important lesson here. When using $.extend, the first parameter will
            // be CHANGED to the combination of all the parameters. In my situation, I just wanted to combine two
            // objects, but not affect them in any way hence the empty object.
            $fade_object.settings = $.extend({}, default_options, options);
            // If children option is set use that as elements, otherwise use the called jQuery object
            $fade_object.elements = ($fade_object.settings.children === null) ? $($fade_object.container).children() : $($fade_object.container).children($fade_object.settings.children);
            // Setup the count
            $fade_object.count = 0;
            // Save data to container for use later
            $($fade_object.container).data('object', $fade_object);

            // Start the loop
            if ($fade_object.elements.length > 1) {
                // Establish the Next and Previous Handlers
                if ($fade_object.settings.nextLink || $fade_object.settings.prevLink) {
                    $.bindControls($fade_object);
                }

                // Establish Cancel Handler
                if ($fade_object.settings.cancelLink) { $.bindCancel($fade_object); };

                // Set outer container as relative, and use the height that's set and add the running class
                $($fade_object.container).css({'position': 'relative'}).addClass($fade_object.settings.runningClass);
                if ($fade_object.settings.containerHeight == 'auto') {
                    height = $($fade_object.elements).filter(':first').height();
                    $($fade_object.container).css({'height': height + 'px'});
                } else {
                    $($fade_object.container).css({'height': $fade_object.settings.containerHeight});
                };

                // Build the Index if one is specified
                if ($fade_object.settings.indexContainer) {
                    $.innerFadeIndex($fade_object);
                };

                // Set the z-index from highest to lowest (20, 19, 18...), hide everything and set position as absolute
                for (var i = 0; i < $fade_object.elements.length; i++) {
                    $($fade_object.elements[i]).hide(0).css('z-index', String($fade_object.elements.length-i)).css('position', 'absolute');
                }

                var toShow = '';
                var toHide = '';

                if ($fade_object.settings.type == "random") {
                    toShow = Math.floor(Math.random() * $fade_object.elements.length);
                    do {
                            toHide = Math.floor(Math.random() * $fade_object.elements.length);
                    } while (toHide == toShow);
                } else if ( $fade_object.settings.type == 'random_start' ) {
                    $fade_object.settings.type = 'sequence';
                    toHide = Math.floor ( Math.random () * ( $fade_object.elements.length ) );
                    toShow = (toHide + 1) % $fade_object.elements.length;
                } else {
                    // Otherwise and if its sequence
                    toShow = $fade_object.settings.first_slide;
                    toHide = ($fade_object.settings.first_slide == 0) ? $fade_object.elements.length - 1 : $fade_object.settings.first_slide - 1;
                }

                if ($fade_object.settings.animate) {
                    $.fadeTimeout($fade_object, toShow, toHide, true);
                } else {
                    $($fade_object.elements[toShow]).show();
                    $($fade_object.elements[toHide]).hide();
                    $.updateIndexes($fade_object, toShow);
                };
                $.updateIndexes($fade_object, toShow);

                $($fade_object.elements[toShow]).show();

                // Set item count containers
                if ($fade_object.settings.currentItemContainer) { $.currentItem($fade_object, toShow); };
                if ($fade_object.settings.totalItemsContainer) { $.totalItems($fade_object); };

                // Establish the Pause Handler
                if ($fade_object.settings.pauseLink) {
                    $.bind_pause($fade_object);
                };
            }
        });
    };
    /**
     * Public function to change to a specific slide. This is expecting a zero-index slide number.
     * @param {Number} slide_number Zero-indexed slide number
     */
    $.fn.innerFadeTo = function(slide_number) {
        return this.each(function(index) {
            var $fade_object = $(this).data('object');

            var $currentVisibleItem = $($fade_object.elements).filter(':visible');
            var currentItemIndex = $($fade_object.elements).index($currentVisibleItem);
            $.stopSlideshow($fade_object);
            if (slide_number != currentItemIndex) {
                    $.fadeToItem($fade_object, slide_number, currentItemIndex);
            };
        });
    };
    /**
     * Fades the slideshow to the item selected from the previous item
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     * @param {Number} toShow The position in the elements array of the item to be shown
     * @param {Number} toHide The position in the elements array of the item to be hidden
     */
    $.fadeToItem = function($fade_object, toShow, toHide) {
            var speed = $fade_object.settings.speed;

            switch ($fade_object.settings.animationType) {
                case "slide":
                    $($fade_object.elements[toHide]).slideUp(speed);
                    $($fade_object.elements[toShow]).slideDown(speed);
                    break;
                case "slideOver":
                    var itemWidth = $($fade_object.elements[0]).width(),
                        to_hide_css = {},
                        to_show_css = {},
                        to_hide_animation = {},
                        to_show_animation = {};

                    $($fade_object.container).css({'overflow': 'hidden'});
                    // Both CSS Declarations use the same initial CSS
                    to_hide_css = {
                        'position': 'absolute',
                        'top': '0px'
                    };

                    to_show_css = $.extend({}, to_hide_css);

                    // If going forward, we want the item (to be shown) to animate from the right to left
                    // If going backwards, we want the item (to be shown) to animate from the left to the right
                    if (toShow > toHide) { // Forwards
                        to_hide_css.left = "0px";
                        to_hide_css.right = "auto";

                        to_show_css.left = 'auto';
                        to_show_css.right = '-' + itemWidth + 'px';

                        to_hide_animation.left = '-' + itemWidth + 'px';

                        to_show_animation.right = '0px';

                        console.log(to_hide_css);
                    } else { // Backwards
                        to_hide_css.left = "auto";
                        to_hide_css.right = "0px";

                        to_show_css.left = '-' + itemWidth + 'px';
                        to_show_css.right = 'auto';

                        to_hide_animation.right = '-' + itemWidth + 'px';

                        to_show_animation.left = '0px';
                    };

                    $($fade_object.elements[toHide]).css(to_hide_css);
                    $($fade_object.elements[toShow]).css(to_show_css).show();

                    $($fade_object.elements[toHide]).animate(to_hide_animation, speed, $fade_object.settings.easing, function() {
                            $(this).hide();
                    });

                    $($fade_object.elements[toShow]).animate(to_show_animation ,speed, $fade_object.settings.easing);
                    break;
                case "fadeEmpty":
                    $($fade_object.elements[toHide]).fadeOut(speed, function () {
                            $($fade_object.elements[toShow]).fadeIn(speed);
                    });
                    break;
                case "slideEmpty":
                    $($fade_object.elements[toHide]).slideUp(speed, function () {
                            $($fade_object.elements[toShow]).slideDown(speed);
                    });
                    break;
                default:
                    $($fade_object.elements[toHide]).fadeOut(speed);
                    $($fade_object.elements[toShow]).fadeIn(speed);
                break;
            }

        // Update the toShow item
        if ($fade_object.settings.currentItemContainer) {
            $.currentItem($fade_object, toShow);
        };

        // Update indexes with active classes
        if ($fade_object.settings.indexContainer || $fade_object.settings.callback_index_update) {
            $.updateIndexes($fade_object, toShow);
        };
    };
    /**
     * Fades to the item of your choosing and establishes the timeout for the next item to fade to
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     * @param {Number} toShow The position in the elements array of the item to be shown
     * @param {Number} toHide The position in the elements array of the item to be hidden
     * @param {Boolean} firstRun If this is the first run of innerfade, pass true, otherwise pass false
     */
    $.fadeTimeout = function($fade_object, toShow, toHide, firstRun) {
        // only process if window is active, otherwise just call the same function
        if (window.isActive) {
            // If its not the first run, then fade
            if (firstRun != true) {
                $.fadeToItem($fade_object, toShow, toHide);
            };

            // Increment the count of slides shown
            $fade_object.count++;

            // 	Check if loop is false, if it is check to see how many slides have been shown.
            // In the case that you're at the last slide, stop the slideshow and return.
            if ($fade_object.settings.loop == false && $fade_object.count >= $fade_object.elements.length) {
                $.stopSlideshow($fade_object);
                return;
            };

            // Get ready for next fade
            if ($fade_object.settings.type == "random") {
                toHide = toShow;
                while (toShow == toHide) { toShow = Math.floor(Math.random() * $fade_object.elements.length); }
            } else {
                toHide = (toHide > toShow) ? 0 : toShow;
                toShow = (toShow + 1 >= $fade_object.elements.length) ? 0 : toShow + 1;
            }
        };

        // Set the time out; if its first run and a start delay exists, use the start delay
        var timeout = (firstRun && $fade_object.settings.startDelay) ? $fade_object.settings.startDelay : $fade_object.settings.timeout;
        $($fade_object.container).data('current_timeout', setTimeout((function() { $.fadeTimeout($fade_object, toShow, toHide, false); }), timeout));
    };
    /* Allows the unbind function to be called from javascript */
    $.fn.innerFadeUnbind = function() {
        return this.each(function(index) {
                var $fade_object = $(this).data('object');
                $.stopSlideshow($fade_object);
        });
    };
    /**
     * Stops the slideshow
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     */
    $.stopSlideshow = function($fade_object) {
        clearTimeout($($fade_object.container).data('current_timeout'));
        $($fade_object.container).data('current_timeout', null);
    };
    /**
     * Establishes the Next and Previous link behavior
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     */
    $.bindControls = function($fade_object) {
            $($fade_object.settings.nextLink).on('click', function(event) {
                event.preventDefault();
                $.stopSlideshow($fade_object);

                var $currentElement = $($fade_object.elements).filter(':visible');
                var currentElementIndex = $($fade_object.elements).index($currentElement);

                var $nextElement = ($currentElement.next().length > 0) ? $currentElement.next() : $($fade_object.elements).filter(':first');
                var nextElementIndex = $($fade_object.elements).index($nextElement);

                $.fadeToItem($fade_object, nextElementIndex, currentElementIndex);
            });

            $($fade_object.settings.prevLink).on('click', function(event) {
                event.preventDefault();
                $.stopSlideshow($fade_object);

                var $currentElement = $($fade_object.elements).filter(':visible');
                var currentElementIndex = $($fade_object.elements).index($currentElement);

                var $previousElement = ($currentElement.prev().length > 0) ? $currentElement.prev() : $($fade_object.elements).filter(':last');
                var previousElementIndex = $($fade_object.elements).index($previousElement);

                $.fadeToItem($fade_object, previousElementIndex, currentElementIndex);
            });
    };
    /**
     * Establishes the Pause Button
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     */
    $.bind_pause = function($fade_object) {
        $($fade_object.settings.pauseLink).unbind().click(function(event) {
            event.preventDefault();
            if ($($fade_object.container).data('current_timeout') != null) {
                $.stopSlideshow($fade_object);
            } else {
                // Restart the slideshow
                var tag = $($fade_object.container).children(':first').prop('tagName').toLowerCase();
                var nextItem = '';
                var previousItem = '';

                if ($fade_object.settings.type == "random") {
                        previousItem = Math.floor(Math.random() * $fade_object.elements.length);
                        do {
                                nextItem = Math.floor(Math.random() * $fade_object.elements.length);
                        } while (previousItem == nextItem);
                } else if ($fade_object.settings.type == "random_start") {
                        previousItem = Math.floor(Math.random() * $fade_object.elements.length);
                        nextItem = (previousItem + 1) % $fade_object.elements.length;
                } else {
                        previousItem = $(tag, $($fade_object.container)).index($(tag+':visible', $($fade_object.container)));
                        nextItem = ((previousItem + 1) == $fade_object.elements.length) ? 0 : previousItem + 1;
                }

                $.fadeTimeout($fade_object, nextItem, previousItem, false);
            }
        });
    };
    /**
     * Establishes the Cancel Button
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     */
    $.bindCancel = function($fade_object) {
        $($fade_object.settings.cancelLink).unbind().click(function(event) {
                event.preventDefault();
                $.stopSlideshow($fade_object);
        });
    };
    /**
     * Updates the indexes and adds an active class to the visible item
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     * @param {Number} toShow The position in the elements array of the item to be shown
     */
    $.updateIndexes = function($fade_object, toShow) {
        $($fade_object.settings.indexContainer).children().removeClass('active');
        $('> :eq(' + toShow + ')', $($fade_object.settings.indexContainer)).addClass('active');

        // Check for the callback index update
        if (typeof($fade_object.settings.callback_index_update) == "function") {
                $fade_object.settings.callback_index_update.call(this, toShow);
        };
    };
    /**
     * Creates handlers for the links created by the $.handleIndexes and $.generateIndexes functions
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     * @param {Number} count The item to be setting the link on
     * @param {jQuery Object} link The selector or jQuery object of the link
     */
    $.createIndexHandler = function($fade_object, count, link) {
        $(link).click(function(event) {
                event.preventDefault();
                var $currentVisibleItem = $($fade_object.elements).filter(':visible');
                var currentItemIndex = $($fade_object.elements).index($currentVisibleItem);
                $.stopSlideshow($fade_object);
                if ($currentVisibleItem.size() <= 1 && count != currentItemIndex) {
                        $.fadeToItem($fade_object, count, currentItemIndex);
                };
        });
    };
    /**
     * Creates one link for each item in the slideshow, to show that item immediately
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     */
    $.createIndexes = function($fade_object) {
        var $indexContainer = $($fade_object.settings.indexContainer);

        for (var i=0; i < $fade_object.elements.length; i++) {
                var	$link = $('<li><a href="#">' + (i + 1) + '</a></li>');
                $.createIndexHandler($fade_object, i, $link);
                $indexContainer.append($link);
        };
    };
    /**
     * Establishes links between the slide elements and index items in the indexContainer
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     */
    $.linkIndexes = function($fade_object) {
        var $indexContainer = $($fade_object.settings.indexContainer);
        var $indexContainerChildren = $('> :visible', $indexContainer);

        if ($indexContainerChildren.size() == $fade_object.elements.length) {
                var count = $fade_object.elements.length;
                for (var i=0; i < count; i++) {
                        $('a', $indexContainer).click(function(event) {event.preventDefault();});
                        $.createIndexHandler($fade_object, i, $indexContainerChildren[i]);
                };
        } else {
                alert("There is a different number of items in the menu and slides. There needs to be the same number in both.\nThere are " + $indexContainerChildren.size() + " in the indexContainer.\nThere are " + $fade_object.elements.length + " in the slides container.");
        };
    };
    /**
     * Determines if the index container is empty or not. If its empty then it generates links, if its not empty
     * it links one to one
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     */
    $.innerFadeIndex = function($fade_object) {
        var $indexContainer = $($fade_object.settings.indexContainer);
        if ($(':visible', $indexContainer).size() <= 0) {
                $.createIndexes($fade_object);
        } else {
                $.linkIndexes($fade_object);
        };
    };
    /**
     * Changes the text of the current item selector to the index of the current item
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     * @param {Number} current Index of the current slide
     */
    $.currentItem = function($fade_object, current) {
        var $container = $($fade_object.settings.currentItemContainer);
        $container.text(current + 1);
    };
    /**
     * Changes the text of the total item selector to the total number of items
     * @param {Object} $fade_object The object that contains the settings, elements and container for this slideshow
     */
    $.totalItems = function($fade_object) {
        var $container = $($fade_object.settings.totalItemsContainer);
        $container.text($fade_object.elements.length);
    };
})(jQuery);
</script>
</body>
</html>